
  <div class="app">
    <header>
      <h1>The<strong>Anime</strong>Database</h1>

    <form class="search-box">
      <input
      type="search"
      class="search-field"
      placeholder="Seach for an anime..."
      (keyup)="search(searchTerm.value)"
      (keydown.enter)="search(searchTerm.value)"
      #searchTerm
     />
     <div></div>
    </form>
  </header>
  <main>
    <div class="cards">
      <app-card
      *ngFor="let listAnime of listAnime" [listAnime]="listAnime"></app-card>
    </div>
  </main>
  </div>


